.projectSection {
  display: flex;
  flex-direction: column;
  padding: 50px 8%;
  background-color: #393E46;
  padding-bottom: 150px;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bolder;
  color: #FFFFFF;
  text-shadow: 4px 0px #A0AEC0;
  margin: 0;
  padding: 0;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 30px;
}

.projectItem {
  color: #EEEEEE;
  border: 3px solid #93C5FD;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 30px 40px 0 40px;
  position: relative;
  max-width: 700px;
  min-width: 580px;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.projectName {
  position: absolute;
  top: -30px;
  left: -40px;
  transform: rotate(-10deg);
  background-color: #93C5FD;
  color: #000;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.3rem;
  margin: 0;
}

.projectTitle {
  font-size: 1.3rem;
  color: #93C5FD;
  margin: 5px 0;
}

.oddProject {
  border-color: #93C5FD;
  margin-left: 10px;
  margin-right: auto;
  transform: translateX(-50px);
}

.oddProject .projectName {
  background-color: #93C5FD;
}

.oddProject .projectTitle {
  color: #93C5FD;
}

.evenProject {
  border-color: #3B82F6;
  margin-right: 10px;
  margin-left: auto;
  transform: translateX(50px);
}

.evenProject .projectName {
  background-color: #3B82F6;
}

.evenProject .projectTitle {
  color: #3B82F6;
}

.projectItem.visible {
  opacity: 1;
  transform: translateX(0);
}

.projectDate {
  position: absolute;
  top: -25px;
  right: 15px;
  font-size: 0.9rem;
  color: #EEEEEE;
  background-color: #393E46;
  padding: 0px 10px;
}

.techStack {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.techBadge {
  background-color: #EEEEEE;
  color: #000;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.9rem;
}

.projectContent {
  padding: 0 15px;
}

.projectContent>li {
  color: #EEEEEE;
  margin-bottom: 10px;
}

.projectContent ul {
  margin-top: 5px;
  padding-left: 20px;
}

.projectContent ul>li {
  color: #EEEEEE;
  font-size: 1rem;
}

.projectLinks {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: -25px;
  background-color: #393E46;
}

.icon {
  font-size: 30px;
  color: #000;
  margin: 5px;
}

.oddProject .icon {
  color: #93C5FD;
}

.evenProject .icon {
  color: #3B82F6;
}


@media (max-width: 768px) {
  .projectContainer {
    padding: 10px;
  }

  .projectItem {
    padding: 30px 20px 0 20px;
    min-width: 200px;
    margin-top: 50px;
  }

  .oddProject,
  .evenProject {
    margin: 50px 0px 0px 10px;
  }
}

@media (max-width: 400px) {
  .projectName {
    font-size: 1.1rem;
  }

  .projectContent>li {
    font-size: 0.7rem;
  }

  .projectContent ul>li {
    font-size: 0.6rem;
  }
}