.startSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25vh;
  padding-bottom: 25vh;
  position: relative;
  overflow-x: hidden;
}

.circle {
  background-color: #EEEEEE;
  border-radius: 50%;
  height: 50vh;
  width: 50vh;
  position: relative;
  z-index: 2;
}

.startText,
.strokeText {
  font-size: 2rem;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: transform 0.5s ease-out;
}

.startText {
  color: #A0AEC0;
  z-index: 1;
}

.strokeText {
  color: transparent;
  z-index: 3;
  -webkit-text-stroke: 2px #A0AEC0;
}

@media (max-width: 768px) {

  .startText,
  .strokeText {
    font-size: 1.8rem;
  }
}

@media (max-width: 444px) {
  .startSection {
    padding-top: 30vh;
    padding-bottom: 30vh;
  }

  .circle {
    width: 40vh;
    height: 40vh;
  }

  .startText,
  .strokeText {
    font-size: 1.3rem;
  }
}